<div class="container">
  <button class="btn btn-primary" (click)="addNewBall()">Drop</button>
  <div class="flex-row box" id="box">
    <div class="flex-column ball" *ngFor="let ball of balls" [ngStyle]="{'background-color': ball}"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>{{totalBalls}}</h4>
      <p>Blue Balls: {{blueBalls}}</p>
      <p>Green Balls: {{greenBalls}}</p>
      <p>Purple Balls: {{purpleBalls}}</p>
      <p>Pink Balls: {{pinkBalls}}</p>
    </div>
  </div>
</div>
